Eel
playsound==1.2.2
pyaudio
pyautogui
pyttsx3
SpeechRecognition
pywhatkit
pvporcupine
hugchat
markdown2
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.66.0
opencv-python
opencv-contrib-python==4.10.0.84